on: workflow_dispatch
  # schedule:
  #  - cron:  '01 00 * * 1,4' # 1 minute past midnight on Monday and Thursday

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.10.13
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
    - name: Fetch latest data
      run: python etl.py
        
